<% title = "Listous: Social Lists with Twitter" %>

<h1>Listous</h1>
<p>Welcome to <b>Listous</b>. Start twittering <b>@listous</b> to create lists.</p>
<h2>Instructions</h2>
<p>
	Use a direct message to create a list. For example, <B>D listous books The Tipping Point</B> will create a list 
	under your name called <b>books</b>, and the first entry will be <b>The Tipping Point</b>
</p>
<p>
	You can also use a reply. For example, <B>@listous books The Tipping Point</B>. Make sure @listous appears
	at the beginning or the message won`t get parsed.
</p>

<p>
	Finally, you can edit your friends' lists. This the exciting part, where the social aspect comes in. 
	Say your friend <b>@isaacezer</b> is hosting a party and you want to say you'll bring some beer.
	<b>@listous @isaacezer party beer</b> or <b>D listous @isaacezer party beer</b> Will add an entry
	<b>beer</b> to <b>@isaacezer</b>'s list called <b>party.</b>

</p>
<h2>People who are using Listous</h2>
<ul>
	<% @owners.each do |owner| %>
		<li>
			<%= link_to "@" + owner, :controller => "lists", :action => "user", :id => owner %>
		</li>
	<% end %>
</ul>

<h2> Got Some feedback?</h2>

Send it to <b>@listous</b> on twitter!

<ul>
<li>@listous <b>bugs</b> You gotta fix this...</li>
<li>@listous <b>features</b> It would be great if listous could...</li>
</ul>

Created by <a href="http://www.isaacezer.com">Isaac Ezer</a>.
